<!DOCTYPE html>
<!--Jeff Verheyen r0955982-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visitor List</title>
  <link rel="stylesheet" type="text/css" href="img/style.css"/>
</head>
<body>
<main>
  <h1>Visitor List</h1>
  <h2>Our Visitors:</h2>
  <ol>
    <li th:each="visitor : ${visitorList}">
      <a th:href="@{/0_exam(visitorIndex=${visitorStat.index})}" th:text="${visitor.getFirstName()+' '+visitor.getSurName()}"></a>
      <ul>
        <li th:text="'year of birth: ' + ${visitor.getYearOfBirth()}"></li>
        <li th:text="'zoo code: ' + ${visitor.getPersonalCode()}"></li>
        <li th:text="'guide: ' + ${visitor.getGuide().getFirstName() +' '+ visitor.getGuide().getSurName()}"></li>
        <li>
          <span th:text="'Wish list: '"></span>
          <ul>
            <li th:each="wish : ${visitor.getWishList()}">
              <span th:text="${wish}"></span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>
  <p><a href="/">Back to homepage</a></p>
</main>
</body>
</html>