<!DOCTYPE html>
<!--Jeff Verheyen r0955982-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Zoo</title>
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
</head>
<body>
<main>
    <h1>Project Zoo</h1>
    <h2>Jeff Verheyen</h2>
    <form action="/11_animalworlddetails" class="search">
        <label for="aw">Search for an animal world:</label>
        <input type="search" name="aw" id="aw">
        <input type="submit" name="submit" value="Search">
    </form>
    <nav>
        <p>Navigation</p>
        <ul>
            <li><a href="/1_newvisitor">New Visitor</a></li>
            <li><a href="/3_newstaff">New Staff member</a></li>
            <li><a href="/7_newzoo">New Zoo</a></li>
            <li><a href="/9_newanimalworld">New animal world</a></li>
            <li><a href="/5_stafflist">List all Staff members</a></li>
            <li><a href="/6_visitorlist">List all Visitors</a></li>
            <li><a href="/8_zoolist">List all Zoos</a></li>
        </ul>
    </nav>
</main>
</body>
</html>